<form id="category-form">
    <div class="grid">
        <div class="grid-row">
            <label for="change-name"><%= translations.name %></label>
            <input class="form-element input-bold" type="text" id="change-name" placeholder="<%= placeholder %>"
                   data-validation-required="true"
                   data-mapper-property="name"/>
        </div>
        <div class="grid-row">
            <label for="change-key"><%= translations.key %></label>
            <input class="form-element" type="text" id="change-key" placeholder="<%= translations.categoryKey %>"
                   data-validation-required="false"
                   data-mapper-property="key"/>
        </div>
    </div>
</form>
